<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>

		<div class="container-fluid">
			<div class="content-wrapper">
				<br>
				<section class="content">
					<div class="container-fluid">
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h4 class="card-title">Tambah Pilot</h4>
							</div>
							<div class="card-body">
								<p class="card-text">Fitur untuk menambah pilot</p>
								<a class="btn btn-outline-primary" th:href="@{/pilot/add}">Tambah</a>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="content-wrapper">
				<br>
				<section class="content">
					<div class="container-fluid">
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h4 class="card-title">Cari Pilot</h4>
							</div>
							<form th:action="@{/pilot/view}" method="GET">
								<div class="card-body">
									<label for="LicenseNumber">License Number: </label>
									<input type="text" name="licenseNumber" class="form-control">
									<p></p>
									<button type="submit" class="btn btn-outline-primary">Cari</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>