<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pilot</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>

		<div class="container-fluid">
			<div class="content-wrapper">
				<br>
				<section class="content">
					<div class="container-fluid">
					<a th:href="@{'/'}">Beranda</a>
					<br><br>
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h4 class="card-title">Detail Pilot</h4>
							</div>
							<div class="card-body">
								<dl class="row">
									<dt class="col-sm-4">License Number</dt>
									<dd class="col-sm-8" th:text="${pilot.licenseNumber}"></dd>
									<dt class="col-sm-4">Name</dt>
									<dd class="col-sm-8" th:text="${pilot.name}"></dd>
									<dt class="col-sm-4">Fly Hour</dt>
									<dd class="col-sm-8" th:text="${pilot.flyHour}"></dd>
									<dt class="col-sm-4">Status</dt>
									<dd class="col-sm-8"th:if="${pilot.flyHour} >= 100">Pilot Senior</dd>
									<dd class="col-sm-8"th:unless="${pilot.flyHour} >= 100">Pilot Senior</dd>
								</dl>
							</div>
							<div class="card-footer">
								<form th:action="@{/pilot/update/} + ${pilot.licenseNumber}">
									<button type="submit" class="btn btn-outline-primary float-left">Update Pilot</button>
								</form>

								<form th:action="@{/pilot/delete/} + ${pilot.id}">
									<button type="submit" class="btn btn-outline-danger float-left">Delete Pilot</button>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="content-wrapper">
				<br>
				<section class="content">
					<div class="container-fluid">
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h4 class="card-title">Detail Flight</h4>
							</div>
							<div class="card-body">
								<form th:action="@{/flight/add/} + ${pilot.licenseNumber}">
									<button value="submit" class="btn btn-outline-primary float-right">Add Flight</button>
								</form>
								<br><br><br>

								<form th:action="@{/flight/delete}" th:object="${pilot}" method="POST">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="text-align: center">No.</th>
												<th style="text-align: center">Flight Number</th>
												<th style="text-align: center">Origin</th>
												<th style="text-align: center">Destination</th>
												<th style="text-align: center">Time</th>
												<th style="text-align: center">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="flight, iterationStatus : *{pilotFlight}">
												<td th:text="${iterationStatus.count}"></td>
												<td th:text="${flight.flightNumber}"></td>
												<td th:text="${flight.origin}"></td>
												<td th:text="${flight.destination}"></td>
												<td th:text="${flight.time}"></td>
												<td>
													<input type="checkbox" th:field="*{pilotFlight}" th:value="${flight.id}" />
													<label th:for="${#ids.prev('pilotFlight')}">Hapus</label>
												</td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-outline-danger float-left">Delete Selected Flight</button>
								</form>

							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<br><br><br>
		
	</body>
</html>